@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Roboto:400,500,700,900');
body {
  background-color: pink;
  color: gray;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-align: center;
}

h1 {
  color: #00b3b8;
  text-align: center;
  padding-top: 10px
}

h3 {
  color: #00b3b8;
  text-decoration-style: wavy;
}
